.jstree-default .jstree-on-path { text-decoration:underline; }
.jstree-default .current-file { background:#ebebeb; }

.jstree-default .jstree-open > ins { background-image: url("/static/img/arrow_open.png"); background-position: 3px 1px; }
.jstree-default .jstree-closed > ins { background-image: url("/static/img/arrow_closed.png"); background-position: 3px 1px;}

.jstree-default li, .jstree-default ins {
    background-image: none;
}

.jstree li {
    margin-left: 0px !important;
}
