.jstree-default .jstree-on-path { text-decoration:underline; }
.jstree-default .current-file { background:#ebebeb; }

.jstree-default .jstree-open > ins { background-image: url("/static/img/arrow_open.png"); background-position: 3px 1px; }
.jstree-default .jstree-closed > ins { background-image: url("/static/img/arrow_closed.png"); background-position: 3px 1px;}

.jstree-default li, .jstree-default ins {
    background-image: none;
}

.jstree li {
    margin-left: 0px !important;
}

#vakata-contextmenu li {
	height:22px !important;
	margin-top:1px !important;
	margin-bottom:1px !important;
	cursor: pointer;
}

#vakata-contextmenu li:hover {
	background-color:gray;
}

#vakata-contextmenu li:hover a {
	color:white;
}

#vakata-contextmenu li.vakata-separator{
	height:1px !important;
}

#vakata-contextmenu li a {
	font-size:16px;
	color: black;
	margin-top:1px !important;
}

#vakata-contextmenu li ins{
	margin-left:3px !important;
	margin-top:3px !important;
}