<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/collabode-etherpad"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="collabode.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--configFile=./config/collabode-etherpad.localhost.properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="collabode-etherpad"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-server -Djava.awt.headless=true -Dderby.system.home=data/db -Dderby.stream.error.logSeverityLevel=0"/>
</launchConfiguration>
