<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="collabode.Application">
         </run>
      </application>
   </extension>
   <extension
         id="prod"
         point="org.eclipse.core.runtime.products">
      <product
            application="collabode.etherpad.app"
            name="Collabode Server">
      </product>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="collabode.testing.AnnotationsInitializer"
            id="collabode.ANNOTATIONS_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="JUnit Restricted"
            delegateDescription="The Eclipse JUnit Launcher with security restriction"
            delegateName="Eclipse JUnit Launcher Restricted"
            delegate="collabode.testing.JUnitRestrictedLaunchConfigurationDelegate"
            modes="run, debug"
            id="collabode.testing.launchconfig"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            migrationDelegate="collabode.testing.JUnitRestrictedMigrationDelegate">
      </launchConfigurationType>
   </extension>

</plugin>
