<% helpers.setHtmlTitle("Access Control") %>
<% helpers.includeCss("editor_ejs.css") %>
<% helpers.includeCometJs() %>
<% helpers.includeJQuery() %>
<% helpers.includeJs("json2.js") %>
<% helpers.includeJs("ace/ace2_common.js") %>
<% helpers.includeJs("ace/ace2_outer.js") %>
<% helpers.includeJs("collab_client.js") %>
<% helpers.includeJs("ode_acl.js") %>
<% helpers.includeJs("layout.js") %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: "Collabode", file: "Access Control" }) %>

<div id="docbaroverlay">
  <div id="docbartools">
    <div id="connstatusconnecting" title="Connecting"><!-- --></div>
    <div id="connstatusdisconnected" title="Disconnected">
      <p>Disconnected from the server<br/>ACL will not be updated</p>
    </div>
    <div id="syncstatusdone" title="Updated"><!-- --></div>
  </div>
</div>

<div id="sidebarbox" class="autoresized">
  <div class="sidebarsection">
    <%= helpers.renderList("explorer", projects) %>
  </div>
  <div class="sidebarsection">
    <p>ACL lines of the form:<br/>
    <i>user path [permissions]</i></p>
    <br/>
    <p>Read granted on parents and children of named paths</p>
    <br/>
    <p>Edit granted only on named files; permissions may restrict</p>
    <br/>
    <p>E.g.:</p>
    <div style="font-size:small">
    anyone /myproj/src<br/>
    clones /myproj/src/Hello.java<br/>
    r.maxg /my... type:Hello<br/>
    r.maxg /my... type:Hello method:foo<br/>
    </div>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <div id="editorcontainerbox" class="autoresized">
      <div id="editorloadingbox">Loading...</div>
      <div id="editorcontainer"><!-- --></div>
    </div>
  </div>
</div>

</div>
