<% helpers.setHtmlTitle([ project.getName(), file.getProjectRelativePath() ]) %>
<% helpers.addBodyClass(filetype) %>
<% helpers.includeCss("editor_ejs.css") %>
<% helpers.includeCollabClient() %>
<% helpers.includeJs("ace/ace2_common.js") %>
<% helpers.includeJs("ace/ace2_outer.js") %>
<% helpers.includeJs("ace/widget_list.js") %>
<% helpers.includeJs("ace/widget_orgimports.js") %>
<% helpers.includeJs("testor.js") %>
<% helpers.includeJs("ode_file.js") %>
<% helpers.includeJs("layout.js") %>
<% helpers.includeTreeScripts() %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: project.getName(), file: file.getName() }) %>

<div id="docbaroverlay">
  <div id="docbartools">
    <div id="connstatusconnecting" title="Connecting">
      <p>Connecting to the server...</p>
    </div>
    <div id="connstatusdisconnected" title="Disconnected">
      <p class="errortip">Disconnected from the server<br/>Your changes will not be saved</p>
    </div>
    <div id="syncstatussyncing" title="Saving"><!-- --></div>
    <div id="syncstatusdone" title="Saved"><!-- --></div>
    <div id="syncstatuswarning">
      <p class="errortip">Unable to synchronize<br/>You may be disconnected from the server</p>
    </div>
  </div>
</div>

<div id="sidebarbox" class="autoresized">
  <div class="sidebarsection">
    <div id="treecontainer">
    </div>
  </div>
  <div id="testorcontainer" class="sidebarsection">
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <div id="editorcontainerbox" class="autoresized">
      <div id="editorloadingbox">Loading...</div>
      <div id="editorcontainer"><!-- --></div>
    </div>
  </div>
</div>

<div id="additions">
  <%= additions() %>
</div>

</div>
