<% helpers.setHtmlTitle(project.getName()) %>
<% helpers.includeCss("editor_ejs.css") %>
<% helpers.includeCometClient() %>
<% helpers.includeTreeScripts() %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: project.getName(), file: filename }) %>

<div id="sidebarbox">
  <div class="sidebarsection">
    <div id="treecontainer">
    </div>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <div id="wizardcontainerbox">
      <h1>File or directory does not exist</h1>
    </div>
  </div>
</div>

</div>
