<% helpers.setHtmlTitle("Confirm Delete") %>
<% helpers.includeCss("editor_ejs.css") %>
<% helpers.includeCometClient() %>
<% helpers.includeTreeScripts() %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: project.getName() }) %>

<div id="sidebarbox">
  <div class="sidebarsection">
    <div id="treecontainer">
    </div>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <form id="wizardcontainerbox" method="post">
      <h1>Delete <%= resource.getFullPath() %></h1>
      <p>Are you sure you want to delete this resource from the file system?</p>
      
      <div id="wizardbottom">
        <button type="submit">Delete resource</button>
      </div>
    </form>
  </div>
</div>

</div>
