<% helpers.setHtmlTitle(project.getName()) %>
<% helpers.includeCss("editor_ejs.css") %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: project.getName() }) %>

<div id="sidebarbox">
  <div class="sidebarsection">
    <%= helpers.renderList("explorer", projects) %>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <form id="wizardcontainerbox" method="post" action="/">
      <h1>Create a Java project</h1>
      <p>Project name: <%= project.getName() %></p>
      <input type="hidden" name="projectname" value="<%= project.getName() %>"/>
      
      <div id="wizardbottom">
        <button type="submit">Create project</button>
      </div>
    </form>
  </div>
</div>

</div>
