<% helpers.setHtmlTitle("Import server projects") %>
<% helpers.includeCss("editor_ejs.css") %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: "Import server projects" }) %>

<div id="sidebarbox">
  <div class="sidebarsection">
    <%= helpers.renderList("explorer", projects) %>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <form id="wizardcontainerbox" method="post">
      <h1>Import server projects</h1>
      <p>Import project(s) already on disk in the workspace</p>
      <p>Directory: <input name="directory"/></p>
      
      <div id="wizardbottom">
        <button type="submit">Import</button>
      </div>
    </form>
  </div>
</div>
