<% helpers.setHtmlTitle("Projects") %>
<% helpers.includeCss("editor_ejs.css") %>
<% if (session.userId) {
  helpers.includeCometClient();
  helpers.includeTreeScripts();
} %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: "Projects" }) %>

<div id="sidebarbox">
  <div class="sidebarsection">
    <div id="treecontainer">
    </div>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <div id="wizardcontainerbox">
      <h1>Collabode + Eclipse</h1>
      <% if (session.userId) { %>
        <% if ( ! session.restricted) { %>
          <p><a href="/settings">Edit settings</a></p>
          <p><a href="/new">Create a new project</a></p>
          <p><a href="/import">Import server projects</a></p>
          <p><a href="/git:clone">Import projects from Git</a></p>
        <% } %>
      <% } else { %>
        <p><a href="/login/">Log in</a></p>
      <% } %>
      <div><%= helpers.renderPartial("filegrid", { members: projects }) %></div>
    </div>
  </div>
</div>

</div>
