<% helpers.setHtmlTitle("Projects") %>
<% helpers.includeCss("editor_ejs.css") %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: "Projects" }) %>

<div id="sidebarbox">
  <div class="sidebarsection">
    <%= helpers.renderList("explorer", projects) %>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <div id="wizardcontainerbox">
      <h1>Collabode + Eclipse</h1>
      <% if ( ! session.restricted) { %>
        <p><a href="/acl">Edit access control</a></p>
      <% } %>
      <div><%= helpers.renderPartial("filegrid", { members: projects }) %></div>
    </div>
  </div>
</div>

</div>
