<% helpers.setHtmlTitle("Projects") %>
<% helpers.includeCss("editor_ejs.css") %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: "Projects" }) %>

<div id="sidebarbox">
  <div class="sidebarsection">
    <%= helpers.renderList("explorer", projects) %>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <div id="wizardcontainerbox">
      <h1>Collabode + Eclipse</h1>
    </div>
  </div>
</div>

</div>
