<% helpers.setHtmlTitle("Settings") %>
<% helpers.includeCss("editor_ejs.css") %>
<% helpers.includeCometJs() %>
<% helpers.includeJQuery() %>
<% helpers.includeJs("json2.js") %>
<% helpers.includeJs("ace/ace2_common.js") %>
<% helpers.includeJs("ace/ace2_outer.js") %>
<% helpers.includeJs("collab_client.js") %>
<% helpers.includeJs("ode_pad.js") %>
<% helpers.includeJs("layout.js") %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: "Collabode", file: "Settings" }) %>

<div id="docbaroverlay">
  <div id="docbartools">
    <div id="connstatusconnecting" title="Connecting"><!-- --></div>
    <div id="connstatusdisconnected" title="Disconnected">
      <p>Disconnected from the server<br/>Settings will not be updated</p>
    </div>
    <div id="syncstatusdone" title="Updated"><!-- --></div>
  </div>
</div>

<div id="sidebarbox" class="autoresized">
  <div class="sidebarsection">
    <%= helpers.renderList("explorer", projects) %>
  </div>
  <div class="sidebarsection">
    <p>Settings:</p>
    <div style="font-size:small">
    turkID = ABC123...<br/>
    turkSecret = def456...<br/>
    turkSandbox = true
    </div>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <div id="editorcontainerbox" class="autoresized">
      <div id="editorloadingbox">Loading...</div>
      <div id="editorcontainer"><!-- --></div>
    </div>
  </div>
</div>

</div>
