<table id="createsub">
<tr><td>
<p><img src="/static/img/eclipse/ui.obj.folder.gif"/> Create a sub-folder in this <%= inside %></p>
<p><input name="foldername"/></p>
<p><button name="folder" type="submit" value="1">Create sub-folder</button></p>
</td><td>
<p><img src="/static/img/eclipse/ui.obj.file.gif"/> Create a file in this <%= inside %></p>
<p><input name="filename"/></p>
<p><button name="file" type="submit" value="1">Create file</button></p>
</td></tr>
</table>
