<% helpers.setHtmlTitle("Collabode") %>
<% helpers.setBodyId("padbody") %>
<% helpers.addBodyClass(bodyClass) %>
<% helpers.includeCss("pad_ejs.css") %>
<% helpers.includeCometJs() %>
<% helpers.includeJQuery() %>
<% helpers.includeJs("json2.js") %>
<% //helpers.includeJs("colorutils.js") %>
<% helpers.includeJs("ace.js") %>
<% helpers.includeJs("collab_client.js") %>
<% //helpers.includeJs("draggable.js") %>
<% //helpers.includeJs("pad_utils.js") %>
<% //helpers.includeJs("pad_cookie.js") %>
<% //helpers.includeJs("pad_editor.js") %>
<% //helpers.includeJs("pad_userlist.js") %>
<% //helpers.includeJs("pad_editbar.js") %>
<% //helpers.includeJs("pad_chat.js") %>
<% //helpers.includeJs("pad_docbar.js") %>
<% //helpers.includeJs("pad_impexp.js") %>
<% //helpers.includeJs("pad_savedrevs.js") %>
<% //helpers.includeJs("pad_connectionstatus.js") %>
<% //helpers.includeJs("pad_modals.js") %>
<% //helpers.includeJs("pad2.js") %>
<% helpers.includeJs("ode.js") %>

<div id="padpage">

<div id="padmain">
  <div id="padeditor">
    <div id="editbar" class="disabledtoolbar">
      <div id="editbarleft"><!-- --></div>
      <div id="editbarright"><!-- --></div>
      <div id="editbarinner">
        <div id="syncstatussyncing" title="Syncing..."><!-- --></div>
        <div id="syncstatusdone" title="Synced."><!-- --></div>
      </div>
    </div>
    <div id="editorcontainerbox">
      <div id="editorloadingbox">Loading...</div>
      <div id="editorcontainer"><!-- --></div>
    </div>
  </div>
  <div id="bottomarea">
    <div id="viewbarcontents">
    </div>
  </div>
</div>

</div>
