*, html.body, p { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; font-style: normal;
  text-decoration: none; margin: 0; padding: 0; }

a img { border: none; }

.clear { clear: both; }

html { font-size: 62.5%; }

body { background: #ebebeb url(/static/img/pad/backgradient.gif) repeat-x left top; }
body, textarea { font-family: Arial, sans-serif; }

#editorpage { margin-left: auto; margin-right: auto; width: 1010px; }

body.fullwidth #editorpage { width: auto; margin-left: 6px; margin-right: 6px; }

#docbar {
	margin-top: 6px; height: 30px; position: relative; zoom: 1;
	background: #fbfbfb; border: 1px solid #c4c4c4; -webkit-border-radius:6px; -moz-border-radius:6px;
}

#docbarproject {
	position: absolute; height: auto; left: 9px;
	width: 280px; font-size: 1.6em; color: #444; font-weight: normal;
	line-height: 22px; margin-left: 2px; height: 22px; top: 4px;
	overflow: hidden; text-overflow: ellipsis /*not supported in FF*/;
	white-space:nowrap;
}
#docbarfile {
	position: absolute; height: auto; left: 265px;
	width: 380px; font-size: 1.6em; color: #444; font-weight: normal;
	line-height: 22px; margin-left: 2px; height: 22px; top: 4px;
	overflow: hidden; text-overflow: ellipsis /*not supported in FF*/;
	white-space:nowrap;
}
#docbartools {
	position:absolute; height:auto; right:9px;
	width:200px; font-size: 1.6em; color:#444; font-weight:normal;
	line-height: 22px; margin-right: 2px; height:22px; top:4px;
	white-space:nowrap;
}

#sidebarbox {
	position: absolute;
	margin-top: 6px;
	width:253px;
	z-index:20;
}

.sidebarsection {
	margin-bottom:6px;
	border: 1px solid #c4c4c4;
	background:#fff; overflow: hidden;
	font-size: 1.6em;
	padding:10px;
	-webkit-border-radius:6px; -moz-border-radius:6px;
}

.sidebarsection ~ .sidebarsection:last-child {
	position:absolute;
	margin-bottom:0;
	bottom:0;
	left:0;
	right:0;
}

#sidebarbox ul {
	list-style-type: none;
}

#sidebarbox ul a {
	text-decoration: none;
	white-space:nowrap;
}

#sidebarbox ul ul {
	padding-left:1em;
}

#sidebarbox li.here a {
	background:#ebebeb;
}

#padmain { margin-top: 6px; position: relative; zoom: 1; }

#padeditor { margin-left: 260px; zoom: 1; }

#syncstatussyncing {
	position:absolute; height: 22px; width: 22px;
	background: url(/static/img/eclipse/jdt.ui.lcl.sync.enabled.gif) no-repeat center center;
	rxight: 18px; xtop: 2px; display: none;
}
#syncstatusdone {
	float:left; height: 22px; width: 22px;
}
#docbartools a {
	float:left; height:22px; width:22px; margin:0 4px;
}
#savenow {
	background: url(/static/img/eclipse/ui.tool.save.disabled.gif) no-repeat center center;
}
#savenow.enabled {
	background: url(/static/img/eclipse/ui.tool.save.enabled.gif) no-repeat center center;
}
#run {
	background: url(/static/img/eclipse/jdt.debug.ui.tool.run.disabled.gif) no-repeat center center;
}

#editorcontainerbox {
  border-left: 1px solid #c4c4c4; border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  background: #fff; overflow: hidden; position: relative;
  zoom: 1; height: 397px; /*...initially*/ }

#editorcontainer { height: 100%; }
  
#editorcontainer iframe { width: 100%; padding: 0; margin: 0; }

#editorloadingbox { padding-top: 100px; padding-bottom: 100px; font-size: 2.5em;  color: #aaa;
   text-align: center; position: absolute; width: 100%; height: 30px; z-index: 100; }

#codecompletion {
	position:absolute; display:none;
}
#codecompletion:focus {
	outline:none;
}
#codecompletion option { }

#wizardcontainerbox {
	border: 1px solid #c4c4c4;
	background:#fff; overflow: hidden; position: relative;
	font-size: 1.6em;
	padding:11px;
	-webkit-border-radius:6px; -moz-border-radius:6px;
}

#wizardcontainerbox * ~ p { margin-top:6px; }
#wizardcontainerbox h1 { font-size:120%; }
#wizardcontainerbox #wizardbottom { margin-top:1em; }
#wizardcontainerbox input {
	font-size:90%;
}
#wizardcontainerbox button[type=submit] {
	padding:.5em; font-size:90%;
}

#wizardcontainerbox table {
	border-collapse:collapse;
	padding:0; margin:0;
	margin-top:2em;
}
#wizardcontainerbox td ~ td { padding-left:3em; }

#filegrid a {
	text-decoration: none;
}
#filegrid a.delete {
	padding-left:18px;
	background: url(/static/img/eclipse/ui.tool.delete.disabled.gif) no-repeat left;
}
#filegrid a.delete:hover {
	background: url(/static/img/eclipse/ui.tool.delete.enabled.gif) no-repeat left;
}

.test {
	border-width:1px;
	border-style:solid;
	margin-top:4px;
	padding:10px 15px;
	position:relative;
}
.test .testclass {
	font-size: smaller;
}
.test.ok {
	border-color:#360;
	background:#efe;
}
.test.failure {
	border-color:#900;
	background:#fee;
}
.test.error {
	border-color:#009;
	background:#eef;
}
.test.new {
	border-width: 9px 14px 9px 14px;
	padding:1px;
}
.test.new.ok {
	-webkit-border-image: url(/static/img/cloud-pass.png) 9 20 9 20 stretch stretch;
	-moz-border-image: url(/static/img/cloud-pass.png) 9 20 9 20 stretch stretch;
}
.test.new.failure {
	-webkit-border-image: url(/static/img/cloud-fail.png) 9 20 9 20 stretch stretch;
	-moz-border-image: url(/static/img/cloud-fail.png) 9 20 9 20 stretch stretch;
}
.test.new.error {
	-webkit-border-image: url(/static/img/cloud-error.png) 9 20 9 20 stretch stretch;
	-moz-border-image: url(/static/img/cloud-error.png) 9 20 9 20 stretch stretch;
}
.test.needsimpl {
	-webkit-border-radius:18px; -moz-border-radius:18px;
}
.test.needsreview {
	-webkit-border-radius:6px; -moz-border-radius:6px;
}
.test.accepted.failure, .test.accepted.error {
	border-width: 9px 14px 9px 14px;
	padding:1px;
}
.test.accepted.failure {
	-webkit-border-image: url(/static/img/bang-fail.png) 9 20 9 20 stretch stretch;
	-moz-border-image: url(/static/img/bang-fail.png) 9 20 9 20 stretch stretch;	
}
.test.accepted.error {
	-webkit-border-image: url(/static/img/bang-error.png) 9 20 9 20 stretch stretch;
	-moz-border-image: url(/static/img/bang-error.png) 9 20 9 20 stretch stretch;	
}
.test button {
	padding:.2em;
	position:absolute;
	top:0;
	right:0;
	visibility: hidden;
	-webkit-appearance: square-button;
}
.test.needsimpl button, .test.needsreview button {
	top:10px;
	right:13px;
}
.javaTest .test.new button {
	visibility: visible;
}
.test.new button div:after {
	content: "Needs impl";
}
.javaImpl .test.needsimpl button {
	visibility: visible;
}
.test.needsimpl button div:after {
	content: "Needs review";
}
.javaTest .test.needsreview button {
	visibility: visible;
}
.test.needsreview button div:after {
	content: "Accept";
}
.test a {
	text-align: center;
	font-size: x-small;
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	cursor: pointer;
}
.test a div:after {
	content: "details";
}
.test.hasDetails a {
	display: block;
}
.test .testtrace {
	display: none;
	margin-top: 1.5em;
	font-size: x-small;
	white-space: pre;
}
