*, html.body, p { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; font-style: normal;
  text-decoration: none; margin: 0; padding: 0; }

a img { border: none; }

.clear { clear: both; }

html { font-size: 62.5%; }

body { background: #ebebeb url(/static/img/pad/backgradient.gif) repeat-x left top; }
body, textarea { font-family: Arial, sans-serif; }

#editorpage { position: relative; margin-left: auto; margin-right: auto; width: 1010px; }

body.fullwidth #editorpage { width: auto; margin-left: 6px; margin-right: 6px; }

#docbar {
	margin-top: 6px; height: 30px; position: relative; zoom: 1;
	background: #fbfbfb; border: 1px solid #c4c4c4; -webkit-border-radius:6px; -moz-border-radius:6px;
}

#docbarproject {
	position: absolute; height: auto; left: 9px;
	width: 244px; font-size: 1.6em; color: #444; font-weight: normal;
	line-height: 22px; margin-left: 2px; height: 22px; top: 4px;
	overflow: hidden; text-overflow: ellipsis /*not supported in FF*/;
	white-space:nowrap;
}
#docbarfile {
	position: absolute; height: auto; left: 265px;
	width: 35%; font-size: 1.6em; color: #444; font-weight: normal;
	line-height: 22px; margin-left: 2px; height: 22px; top: 4px;
	overflow: hidden; text-overflow: ellipsis /*not supported in FF*/;
	white-space:nowrap;
}
#docbaruser {
	position: absolute; height: auto; right: 9px;
	font-size: 1.6em; color: #888; font-weight: normal;
	line-height: 22px; margin-right: 2px; height: 22px; top: 4px;
	white-space:nowrap;
}
#docbaruser span {
	display: block; max-width: 166px; 
	overflow: hidden; text-overflow: ellipsis /*not supported in FF*/;
}

#docbarproject a {
	float:left; height:22px; width:22px; margin-right:4px;
}
#docbaruser a {
	float:right; height:22px; width:22px; margin-left:4px;
}

#home {
	background: url(/favicon.ico) no-repeat center center;
}
#logout {
	background: url(/static/img/eclipse/jst.ws.consum.login.gif) no-repeat center center;
}

#docbaroverlay {
	position: absolute; top: 1px; height: 30px; right: 210px;
}

#docbartools {
	position:absolute; height:auto; right:0;
	width:172px; font-size: 1.6em; color:#444; font-weight:normal;
	line-height: 22px; margin-right: 2px; height:22px; top:4px;
	white-space:nowrap;
}

#docbartools a {
	float:left; height:22px; width:22px; margin:0 4px;
}

#docbartools p { /* XXX should match annotation popups in ace/editor.css */
	font-size: 11px; line-height: 16px;
	text-align: left;
	font-family: Arial, sans-serif;
	position:absolute; color:#333; background:#ffe; border:1px solid #333; padding:1px 4px;
	opacity:.95; -webkit-box-shadow: 0 4px 6px #999;
	z-index: 100;
	margin-top: 22px;
}

#docbartools p.errortip {
    font-size: 14px; line-height: 18px;
    background:#fdd;
    padding: 4px 4px;
}

#editorbottom {
    position: absolute; bottom: -30px; width: 100%;
}

#footerbar {
	margin: 0; height: 20px; position: relative; zoom: 1;
	background: #fbfbfb; border: 1px solid #c4c4c4; -webkit-border-radius:6px; -moz-border-radius:6px;
	padding: 0 11px;
	color:#444; font-weight:normal;
	line-height: 20px;
}

#footerbar a {
	float:right; height:22px; width:22px; margin-left:4px;
}

#feedback {
    background: url(/static/img/eclipse/wst.server.ui.obj.server_started_debug.bubbled.gif) no-repeat center center;
}

#sidebarbox {
	position: absolute;
	margin-top: 6px;
	width:253px;
	z-index:20;
}

.sidebarsection {
	margin-bottom:6px;
	border: 1px solid #c4c4c4;
	background:#fff; overflow: hidden;
	font-size: 1.6em;
	padding:10px;
	-webkit-border-radius:6px; -moz-border-radius:6px;
}

#sidebarbox ul {
	list-style-type: none;
}

#sidebarbox ul a {
	text-decoration: none;
	white-space:nowrap;
}

#sidebarbox ul ul {
	padding-left:1em;
}

#sidebarbox li.here a {
	background:#ebebeb;
}

#padmain { margin-top: 6px; position: relative; zoom: 1; }

#padeditor { margin-left: 260px; zoom: 1; }

body.nosidebar #padeditor { margin-left: 0; }

#connstatusconnecting {
	position: absolute; height: 22px; width: 22px;
	background: url(/static/img/eclipse/wst.server.ui.obj.server.gif) no-repeat center center;
}

#connstatusdisconnected {
	position: absolute; height: 22px; width: 22px;
	background: url(/static/img/eclipse/wst.server.ui.lcl.launch_disco.gif) no-repeat center center;
	display: none;
}

#syncstatussyncing {
	position:absolute; height: 22px; width: 22px;
	background: url(/static/img/eclipse/jdt.ui.lcl.sync.enabled.gif) no-repeat center center;
	display: none;
}
#syncstatusdone {
	float:left; height: 22px; width: 22px;
}
#syncstatuswarning {
    display: none;
    z-index: 50 !important;
}

#savenow {
	background: url(/static/img/eclipse/ui.tool.save.disabled.gif) no-repeat center center;
}
#savenow.enabled {
	background: url(/static/img/eclipse/ui.tool.save.enabled.gif) no-repeat center center;
}
#console {
	background: url(/static/img/eclipse/ui.console.view.grayscale.gif) no-repeat center center;
}
#console.enabled {
	background: url(/static/img/eclipse/ui.console.view.gif) no-repeat center center;
}
#launch {
	background: url(/static/img/eclipse/jdt.debug.ui.tool.run.disabled.gif) no-repeat center center;
}
#launch.enabled {
	background: url(/static/img/eclipse/jdt.debug.ui.tool.run.enabled.gif) no-repeat center center;
}
#terminate.enabled {
	background: url(/static/img/eclipse/debug.ui.lcl.terminate.enabled.gif) no-repeat center center;
}
#format.enabled {
    background: url(/static/img/eclipse/jdt.junit.lcl.cfilter.enabled.gif) no-repeat center center;
}
#orgimports.enabled {
    background: url(/static/img/eclipse/ant.ui.obj.import.gif) no-repeat center center;
}
#runtests.enabled {
    background: url(/static/img/eclipse/jdt.junit.obj.tsuiterun.gif) no-repeat center center;
}

#editorcontainerbox {
  border-left: 1px solid #c4c4c4; border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  background: #fff; overflow: hidden; position: relative;
  zoom: 1; height: 397px; /*...initially*/ }

#editorcontainer { height: 100%; }
  
#editorcontainer iframe { width: 100%; padding: 0; margin: 0; }

#editorloadingbox { padding-top: 100px; padding-bottom: 100px; font-size: 2.5em;  color: #aaa;
   text-align: center; position: absolute; width: 100%; height: 30px; z-index: 100; }

#codecompletion {
	position:absolute; display:none;
}
#codecompletion:focus {
	outline:none;
}
#codecompletion option { }

#orgimports-container { position:absolute; width:346px; height:232px; top:11px; left:368px; background-color:#dedede; box-shadow:5px 5px 5px #888; -o-box-shadow:5px 5px 5px #888; 
      -icab-box-shadow:5px 5px 5px #888; -khtml-box-shadow:5px 5px 5px #888; -moz-box-shadow:3px 3px 6px #888; -webkit-box-shadow:5px 5px 5px #888; border:1px; }
#listwidget-list {position:absolute; min-width:100%; display:block; list-style-type:none; padding-left:0px; white-space:nowrap; margin-bottom:0px; cursor:default; }
.listwidget-listitem { height:8px; padding-left:20px; padding-top:2px; padding-bottom:6px; margin-bottom:0px; padding-right:5px; }
.listwidget-selected { background-color:#3875d7; color:white; }
.listwidget-listitem img { margin-top:-1px; margin-left:-18px; position:absolute; height:16px; width:16px; }
.codecomplete { visibility:hidden; position:absolute; width:240px; height:159px; overflow-y:auto; overflow-x:scroll; background-color:white;
    border-style:solid; border-color:gray; border-width:1px; box-shadow:5px 5px 5px #888; -o-box-shadow:5px 5px 5px #888; 
    -icab-box-shadow:5px 5px 5px #888; -khtml-box-shadow:5px 5px 5px #888; -moz-box-shadow:3px 3px 6px #888; -webkit-box-shadow:5px 5px 5px #888; }
.orgimports { position:absolute; width:325px; height:159px; overflow-y:auto; background-color:white;
      border-style:solid; border-color:gray; border-width:1px; left:9px; top:36px; }
#orgimports-input { position:absolute; top:8px; left:9px; width:325px; height:17px; }
#orgimports-cancel { position:absolute; top:198px; height:25px; width:65px; left:77px; }
#orgimports-next { position:absolute; top:198px; height:25px; width:65px; left:9px; }

#wizardcontainerbox {
	border: 1px solid #c4c4c4;
	background:#fff; overflow: hidden; position: relative;
	font-size: 1.6em;
	padding:11px;
	-webkit-border-radius:6px; -moz-border-radius:6px;
}

#wizardcontainerbox > div { margin-top:3em; }
#wizardcontainerbox * ~ p { margin-top:6px; }
#wizardcontainerbox h1 { font-size:120%; margin-bottom:6px; }
#wizardcontainerbox h2 { font-size:120%; margin-bottom:6px; }
#wizardcontainerbox #wizardbottom { margin-top:1em; }
#wizardcontainerbox input {
	font-size:90%;
}
#wizardcontainerbox button[type=submit] {
	padding:.5em; font-size:90%;
}

#wizardcontainerbox table {
	border-collapse:collapse;
	padding:0; margin:0;
}
#wizardcontainerbox a {
    text-decoration: none;
}
#wizardcontainerbox a.delete {
	padding-left:18px;
	background: url(/static/img/eclipse/ui.tool.delete.disabled.gif) no-repeat left;
}
#wizardcontainerbox a.delete:hover {
	background: url(/static/img/eclipse/ui.tool.delete.enabled.gif) no-repeat left;
}

#wizardcontainerbox .wideselect {
	width: 300px;
}

#filegrid tr ~ tr td { padding-top:1em; }
#filegrid td ~ td { padding-left:2em; }

#createsub td ~ td { padding-left:3em; }

#acl td { padding-right: 0.5em; }

#markers td { padding-right: 0.5em; }
#markers .icon { padding-left:16px; background-repeat: no-repeat; background-position: left center; }
#markers .noteMarker { }
#markers .infoMarker { background-image: url("/static/img/eclipse/jdt.ui.obj.info.gif"); }
#markers .warningMarker { background-image: url("/static/img/eclipse/jdt.ui.obj.warning.gif"); }
#markers .errorMarker { background-image: url("/static/img/eclipse/jdt.ui.obj.error.gif"); }

#additions {
	display: none;
}

#testorcontainer {
	overflow: visible;
}
.test {
	border-width:1px;
	border-style:solid;
	margin-top:4px;
	padding:6px 8px;
	position:relative;
}
.test .testclass {
	font-size: smaller;
}
.test .testclass, .test .testmethod {
	overflow: hidden;
	text-overflow: ellipsis;
}
.test.ok, .test.ok table {
	border-color:#360;
	background:#efe;
}
.test.failure, .test.failure table {
	border-color:#900;
	background:#fee;
}
.test.error, .test.error table {
	border-color:#009;
	background:#eef;
}
.test .extra {
	position: absolute;
	display: none;
}
.test .extra.top {
	width: 100%;
	left: 0;
	bottom: 100%;
}
.test .extra.left, .test .extra.right {
	height: 100%;
	top: 0;
}
.testDriven .test.new .extra.top {
	display: block;
	height: 22px;
}
.testDriven .test.new.ok .extra.top {
	background: url(/static/img/cloud-pass.png) no-repeat center top;
}
.testDriven .test.new.failure .extra.top {
	background: url(/static/img/cloud-fail.png) no-repeat center top;
}
.testDriven .test.new.error .extra.top {
	background: url(/static/img/cloud-error.png) no-repeat center top;
}
.testDriven .test.new.failure .extra.left,
.testDriven .test.new.failure .extra.right,
.testDriven .test.new.error .extra.left,
.testDriven .test.new.error .extra.right {
	display: none;
}
.testDriven .test.new {
	padding-top: 2px;
	margin-top: 24px;
	-webkit-border-radius:12px; -moz-border-radius:12px;
}
.testDriven .test.needsimpl.ok {
	-webkit-border-radius:12px; -moz-border-radius:12px;
}
.testDriven .test.needsreview.ok {
	-webkit-border-radius:6px; -moz-border-radius:6px;
}
.test.failure .extra.left {
	display: block;
	width: 7px;
	left: -2px;
	background: url(/static/img/bang-fail.png) repeat-y;
	background-position: 0 6px;
}
.test.failure .extra.right {
	display: block;
	width: 7px;
	right: 0;
	margin-right: -2px;
	background: url(/static/img/bang-fail.png) repeat-y;
	background-position: -6px 6px;
}
.test.error .extra.left {
	display: block;
	width: 7px;
	left: -2px;
	background: url(/static/img/bang-error.png) repeat-y;
	background-position: 0 6px;
}
.test.error .extra.right {
	display: block;
	width: 7px;
	right: 0;
	margin-right: -2px;
	background: url(/static/img/bang-error.png) repeat-y;
	background-position: -6px 6px;
}
.test button {
	padding:.2em;
	position:absolute;
	top: 6px;
	right: 6px;
	visibility: hidden;
	-webkit-appearance: square-button;
}
.testDriven.editingTest .test.new button {
	visibility: visible;
}
.test.new button div:after {
	content: "Needs impl";
}
.testDriven.editingImpl .test.needsimpl button {
	visibility: visible;
}
.test.needsimpl button div:after {
	content: "Needs review";
}
.testDriven.editingTest .test.needsreview button {
	visibility: visible;
}
.test.needsreview button div:after {
	content: "Accept";
}
.test a {
	text-align: center;
	font-size: x-small;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -0.5em;
	display: none;
	cursor: pointer;
}
.test a div:after {
	content: "details";
}
.test.hasDetails a {
	display: block;
}
.test td {
	padding: 0.5em 0.5em 0 0;
}
.test .testtrace {
	display: none;
	margin-top: 0.5em;
	position: relative;
	font-size: 11px;
	white-space: pre;
	font-family: Consolas, Menlo, monospace;
}

#dialog-content { 
	position:absolute; width:346px; height:232px; top:11px; left:368px;
	box-shadow:5px 5px 5px #888; -o-box-shadow:5px 5px 5px #888; 
	-icab-box-shadow:5px 5px 5px #888; -khtml-box-shadow:5px 5px 5px #888; 
	-moz-box-shadow:3px 3px 6px #888; -webkit-box-shadow:5px 5px 5px #888; 
	border:1px; 
}