/* This page is written with Less.js CSS.  
 * For reference, see: http://lesscss.org/
 */

/********************
 * Color definitions 
 */
@white: #FFF;
@darkgray: #333;

body {
    font-family: Arial, sans-serif;
}

.page {
    width: 100%;
    height: 100%;
    .content {
		width: inherit;
		height: inherit;
    }
}

#header {
    text-align: center;
}

#studentFooter {
    position: absolute;
    bottom: 0px;
    #homeIcon {
		border: 1px solid @darkgray;
		background: red;
		display: inline-block;
		float: left;
    }
}

/********
 * CARDS 
 */
@cardw: 75px;
@cardh: 100px;
.card, .qcard {
    position: relative;
    width: @cardw;
    height: @cardh;
    background: #C0C0C0;
    border: 1px solid @darkgray;
    float: left;
    margin: 5px;
    display: inline-block;
    img {
		/*max-width: @cardw;
		max-height: @cardh;*/
		width: inherit;   /* TODO: consider scaling instead */
		height: inherit;  /* TODO: consider scaling instead */
    }
    a { /* TODO: make this nicer */
    	img {
    		width: 75px;
			height: 100px;
    	}
    }
    .nametag {
		position: absolute;
		bottom: 0px;
		left: 0px;
		background-color: @darkgray;
		color: @white;
		padding: 4px;
		z-index: 1;
		font-size: 12px;
    }
    .badge {
    	position: absolute;
    	top: -5px;
    	right: -5px;
    }
    .thumb {
		img {
		    width: inherit;
		    height: inherit;
		}
    }
}

/*************
 * TEST GRID 
 */
.test-progress-div {
    overflow: auto;
    margin: 5px;
    .card {
		margin: 0px;	
    }
    .test-progress-grid {
		width: 90%;
		height: inherit;
		background-color: #CC3333;
		color: @white;
		/*border: 1px solid @darkgray;*/
		float: left;
		table {
		    height: inherit;
		    width: 100%;
		    text-align: center;
		    border-collapse: collapse;
		    table-layout: fixed;
		    tr {
				td {
			    	border: 1px solid @darkgray;
			    	vertical-align: middle;
				}
		    }
		}
    }
}

/******************
 * Layout trays
 */
div#card-tray {
	position: absolute;
 	right: 0px;
 	z-index: 0px;
}
 
div#queue-tray {
 	position: absolute;
 	left: 0px;
 	z-index: 10;
 	background-color: #555;
 	border: 1px solid @darkgray;
 	overflow: hidden;
 	
 	/* Chrome, Safari4+ */
	background: -webkit-gradient(linear, left top, right top, 
		color-stop(95%, rgba(0,0,0,0.3)), 
		color-stop(100%,rgba(0,0,0,0.65)));
}

/******************
 * Student details
 */
#student-details-panel {
	z-index: 20;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	overflow: auto;
	#placeholder {
		width: 400px;
		height: 400px;
		margin: 0 auto;
		text-align: center;
	}
}

/******************
 * Other
 */
div#debugbar {
	position: absolute;
	top: 50px;
 	right: 25px;
 	margin: 0 auto;
 	min-width: 10px;
 	background: lighten(@darkgray, 5%);
 	border: 1px solid @darkgray;
 	color: white;
 	border-radius: 10px;
 	padding: 5px;
 	z-index: 10;
 }
 