html { font-size: 62.5%; }

body { background-color: #ebebeb; }
body { font-family: Arial, sans-serif; }

.adocbar {
	margin: 6px 6px 0 6px; height: 30px; position: relative; zoom: 1;
	background: #fbfbfb; border: 1px solid #c4c4c4; -webkit-border-radius:6px; -moz-border-radius:6px;
}
.adocbartext {
	position: absolute; height: auto; left: 9px;
	max-width: 98%; font-size: 1.6em; color: #444; font-weight: normal;
	line-height: 22px; margin-left: 2px; height: 22px; top: 4px;
	overflow: hidden; text-overflow: ellipsis /*not supported in FF*/;
	white-space:nowrap;
}

.adocbartext .iconic {
	float: left;
	height: 22px; width: 22px;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-position: center center;
}

.padtitle {
	margin: 0 12px; position: relative; zoom: 1;
	background: #fbfbfb; border: 1px solid #c4c4c4; -webkit-border-radius:0 0 6px 6px; -moz-border-radius:0 0 6px 6px;
	position: absolute; right: 0;
	font-size: 1.6em; color: #444; font-weight: normal;
	padding: 4px;
	z-index: 20;
}

.pad {
	border: 1px solid #c4c4c4;
	background: #fff;
	margin: 6px;
	padding: 7px;
	font-size: 12px;
	font-family: Consolas, Menlo, monospace;
	line-height: 16px;
}
.faded .ace-line {
	opacity: 0.3;
}
.faded .ace-line.unfaded {
	opacity: inherit;
}
.pad s, .faded .unfaded .authored s {
	text-decoration: line-through;
	background-color: #faa;
}
.faded .unfaded s {
	background-color: #ffe6e6;
}
.pad u, .faded .unfaded .authored u {
	text-decoration: none;
	background-color: #afa;
}
.faded .unfaded u {
	background-color: #e6ffe6;
}
.folded {
	cursor: pointer;
	position: relative;
	min-height: 2em;
}
.folded .lines {
	display: none;
}
.folded .toggle {
	position: absolute;
	top: 0; left: 0; right: 0;
	height: 1em;
	line-height: 1.5em;
	text-indent: 4em;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 1em;
	margin: 0 14px;
}
.folded .toggle span {
	background-color: white;
}
