appjetHomeTemplate = %BUNDLE_STATE%/data/appjet
logDirTemplate = %BUNDLE_STATE%/data/logs

transportPrefix = /comet
transportUseWildcardSubdomains = false

devMode = true
listen = 9000

dbDriver = org.hsqldb.jdbc.JDBCDriver
dbURLTemplate = jdbc:hsqldb:mem:pads
dbAlreadyExists = 42504

continuousTesting = true
unsafeLaunches = false

# authKey = ...
# authProvider = https://...

# outsourceProvider = instawork
# instaworkURL = ...
# instaworkUser = ...
# instaworkKey = ...

# feedbackKey = ...&entry_3=%USER_AGENT%&entry_4=%VERSION%
