appjetHome = ./data/appjet
logDir = ./data/logs
transportPrefix = /comet
transportUseWildcardSubdomains = false

devMode = true
listen = 9000

dbDriver = org.hsqldb.jdbc.JDBCDriver
dbURL = jdbc:hsqldb:mem:pads
dbAlreadyExists = 42504

continuousTesting = true
unsafeLaunches = false

# authKey = ...
# authProvider = https://...

# feedbackKey = ...&entry_3=%USER_AGENT%&entry_4=%VERSION%
