appjetHome = ./data/appjet
logDir = ./data/logs
transportPrefix = /comet
transportUseWildcardSubdomains = false

devMode = true
listen = 9000

dbDriver = org.hsqldb.jdbc.JDBCDriver
dbURL = jdbc:hsqldb:mem:pads
dbAlreadyExists = 42504
