<!-- Class summary -->
<div id="class-summary-page">
  <table id="class-summary-page-stats">
  	<tr>
      <th></th>
      <th>Mean</th>
      <th>Min</th>
      <th>Max</th>
  	</tr>
    <tr>
      <td># Runs</td>
      <td id="runs-mean">--</td>
      <td id="runs-min">--</td>
      <td id="runs-max">--</td>
    </tr>
  </table>
</div>