<div id="console-output-page">
  <div id="console-output-page-scroller">
    <div id="console-output-filechooser">
      <ul></ul>
    </div>
    <div id="console-output-diffs-box"></div>
  </div>
</div>