<% helpers.addToHead('<meta name="viewport" content="width=device-width, initial-scale=1">') %>
<% helpers.setHtmlTitle("Mobile Instructor") %>
<% helpers.includeCss("jquery.mobile-1.0.min.css") %>

<% helpers.addToHead('<link rel="stylesheet/less" type="text/css" href="static/css/mobile.less"/>') %>
<% helpers.addToHead('<script type="text/javascript" src="static/js/less-1.1.3.min.js"></script>') %>

<% helpers.includeCometJs() %>
<% helpers.includeJQuery() %>
<% helpers.includeMobileJs() %>
<% helpers.includeJs("collab_client.js") %>
<% helpers.includeJs("ode_mobile.js") %>

<div data-role="page" class="page">
  <div data-role="header" id="header">
    <div data-role="controlgroup" data-type="horizontal" id="filterBar">
      <a data-role="button" class="filter" id="filter-tests">Test grid</a>
      <a data-role="button" class="filter" id="filter-error">Error graph</a>
      <a data-role="button" class="filter" id="filter-code">Code graph</a>
      <a data-role="button" class="filter">...</a>
    </div>
    <a data-role="button" data-inline="true" class="ui-btn-left" id="queue-toggle">Hide Queue</a>
    <a data-role="button" data-inline="true" class="ui-btn-right" id="details">View Details</a>
  </div>
    
  <div data-role="content" id="content" class="content">
  	<div id="debugbar"></div>
  	<div id="queue-tray"></div>
  	<div id="card-tray">
  	  <!-- Load the cards -->
  	  <% for (var i in users) { %>
        <%= helpers.renderPartial("mobile/card", { user: users[i] }) %>
      <% } %>
      
      <!-- Student details overlay -->
      <div id="student-details-panel">
		<div data-role="content" data-theme="c">
		  <a href="" data-role="button" data-inline="true" data-theme="a" id="student-details-button-remove">Remove from queue</a>
		  <a href="" data-role="button" data-inline="true" data-theme="a" class="ui-btn-right" id="student-details-button-close">Close</a>

		  <h2 id="username">username</h2>
		  <img src="static/img/mobile/placeholder-photo.png" id="photo">
		  <p>Student info goes here...</p>
		  <p>... like this sample graph ...</p>

		  <div id="stats-table-div">
  	        <table id="stats-table">
		      <tr>
		  	    <td class="stat-label">Number of runs</td>
		  	    <td id="stat-runcount"></td>
	          </tr>
	        </table>
          </div>
          <div id="latestRuns"></div>
		  <div id="placeholder"></div>
		</div>
	  </div>
    </div>
  </div>
</div>
