<% helpers.addToHead('<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">') %>
<% helpers.setHtmlTitle("CollabodeTA") %>
<% helpers.includeCss("jquery.mobile-1.0.min.css") %>

<% helpers.addToHead('<link rel="stylesheet/less" type="text/css" href="static/css/mobile.less"/>') %>
<% helpers.addToHead('<script type="text/javascript" src="static/js/less-1.1.3.min.js"></script>') %>

<% helpers.includeCometJs() %>
<% helpers.includeJQuery() %>
<% helpers.includeMobileJs() %>
<% helpers.includeJs("collab_client.js") %>
<% helpers.includeJs("ode_mobile.js") %>

<div data-role="page" class="page" id="main">

  <div id="loading-page">
  	<p>Loading
  	<br>
  	<img src="static/img/mobile/ajax-loader.gif">
  	</p>
  </div>

  <div data-role="header" id="header">
    <div data-role="controlgroup" data-type="horizontal" id="filterBar">
      <a data-role="button" class="filter ui-btn-active" id="page-layout">Class Layout View</a>
      <!--<a data-role="button" class="filter" id="page-classsummary">Class Statistics</a>-->
      <a data-role="button" class="filter" id="page-consolediffs">Console Output View</a>
    </div>
    <a data-role="button" data-inline="true" class="ui-btn-left" id="queue-toggle">Hide Queue</a>
    <!--<a data-role="button" data-inline="true" class="ui-btn-right" id="details">Apply selected filter</a>-->
  </div>
    
  <div data-role="content" id="content" class="content">
  	<div id="debugbar"></div>
  	<div id="queue-tray"></div>
  	<div id="card-tray">
  	  <!-- Load the cards -->
  	  <% for (var i in users) { %>
        <%= helpers.renderPartial("mobile/card", { user: users[i] }) %>
      <% } %>
      
      <%= helpers.renderPartial("mobile/student_panel", {}) %>
	  <%= helpers.renderPartial("mobile/class_summary", {}) %>
	  <%= helpers.renderPartial("mobile/console_output_view", {}) %>
	  
    </div>
  </div>
</div>
