<% helpers.setHtmlTitle("Not Found") %>
<% helpers.addBodyClass("fullwidth") %>
<% helpers.addBodyClass("nosidebar") %>
<% helpers.includeCss("editor_ejs.css") %>

<div id="editorpage">

<div id="padmain">
  <div id="padeditor">
    <div id="wizardcontainerbox">
      <h1>Error 404: Not Found</h1>
      <p>It's always in the last place you look.</p>
    </div>
  </div>
</div>

</div>
