<% helpers.setHtmlTitle("Server Error") %>
<% helpers.addBodyClass("fullwidth") %>
<% helpers.addBodyClass("nosidebar") %>
<% helpers.includeCss("editor_ejs.css") %>

<div id="editorpage">

<div id="padmain">
  <div id="padeditor">
    <div id="wizardcontainerbox">
      <h1>Error 500: Server Error</h1>
      <p>It's full of stars! No, wait, bugs. It's full of bugs.</p>
    </div>
  </div>
</div>

</div>
