<% helpers.addBodyClass('editing' + (add.isTest ? 'Test' : 'Impl')) %>

<a href="#" id="format" class="docbarbutton enabled" title="Format Source"></a>
<a href="#" id="orgimports" class="docbarbutton enabled" title="Organize Imports"></a>
<a href="/console<%= file.getFullPath() %>" target="java_console_<%= file.getName() %>" id="console" class="docbarbutton <%= add.isTest ? '' : 'enabled' %>" title="Show Console"></a>
<% if ( ! add.continuousTesting) { %>
<a href="#" id="runtests" class="docbarbutton enabled" title="Run Tests"></a>
<% } %>
