<% var isTest = file.getName().match(/Test\.java$/) %>
<% helpers.addBodyClass('editing' + (isTest ? 'Test' : 'Impl')) %>

<% if (user_has_acl(auth.WRITE) || ! session.restricted) { %>
<a href="#" id="format" class="docbarbutton enabled" title="Format Source"></a>
<a href="#" id="orgimports" class="docbarbutton enabled" title="Organize Imports"></a>
<a href="/console<%= file.getFullPath() %>" target="java_console_<%= file.getName() %>" id="console" class="docbarbutton <%= isTest ? '' : 'enabled' %>" title="Show Console"></a>
<% if (appjet.config.continuousTesting != 'true') { %>
<a href="#" id="runtests" class="docbarbutton enabled" title="Run Tests"></a>
<% } %>
<% } else if (user_has_acl(auth.CLAIM)) { %>
<a href="/clone<%= file.getFullPath() %>" id="clone" class="docbarbutton enabled" title="Clone"></a>
<% } %>
