<% helpers.setHtmlTitle("Outsourcing feedback sent") %>
<% helpers.includeCss("editor_ejs.css") %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: "Outsourcing feedback sent" }) %>

<div id="padmain">
  <div id="padeditor">
    <div id="wizardcontainerbox">
      <h1>Thank you!</h1>
    </div>
  </div>
</div>

</div>
