<% var isTest = file.getName().match(/Test\.java$/) %>
<% helpers.addBodyClass('editing' + (isTest ? 'Test' : 'Impl')) %>

<a href="/runfile<%= file.getFullPath() %>" target="java_run_<%= file.getName() %>" id="run" class="docbarbutton <%= isTest ? '' : 'enabled' %>" title="Run"></a>
