<td>
<a href="<%= item.getFullPath() %>"><img src="/static/img/eclipse/ui.ide.obj.project.gif"><br/>
<%= item.getName() %></a><br/>
<%
var natures = item.getDescription().getNatureIds().map(function (natureId) {
  return item.getWorkspace().getNatureDescriptor(natureId).getLabel();
});
%>
<%= natures.join(', ') %> project<br/>
<a class="delete" href="/delete<%= item.getFullPath() %>">Delete</a>
</td>
