<td>
<a href="<%= item.getFullPath() %>"><img src="/static/img/eclipse/ui.ide.obj.project.gif"><br/>
<%= item.getName() %></a><br/>
<%
if (item.isOpen()) {
  var natures = item.getDescription().getNatureIds().map(function (natureId) {
    var desc = item.getWorkspace().getNatureDescriptor(natureId);
    return desc ? desc.getLabel() : "<i>" + natureId + "</i>";
  });
  %><%= natures.join(', ') %> project<%
} else {
  %><i>closed</i><%
}
%><br/>
<a class="delete" href="/delete<%= item.getFullPath() %>">Delete</a>
</td>
